@import "./master.css";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--full);
  padding: var(--small) 100px;
}

.header.scroller {
  background: var(--white-500);
  box-shadow: 0px 8px 45px rgba(34, 34, 34, 0.1);
}
