@import "./master.css";

section:not(.container) {
  padding: var(--x-large);
}

:is(.hero) {
  width: var(--full);
}

.hero {
  height: var(--height);
  text-align: center;
  background-image: url("/assets/img/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background\ 1.png");
  background-position: center;
  background-size: cover;
}
