@import "./master.css";

section:not(.container) {
  padding: var(--x-large);
}

:is(.hero) {
  width: var(--full);
}

.hero {
  height: var(--height);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("/assets/img/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background\ 1.png");
  background-position: center;
  background-size: cover;
  color: var(--white-500);
}

.hero .title {
  font-size: calc(var(--medium) + 12px);
  font-weight: 700;
}

.hero .subtitle {
  font-size: var(--subtitle);
  color: inherit;
  opacity: 0.75;
}

.hero .form {
  position: relative;
  margin: var(--small) 0;
  width: calc(var(--full) - 75%);
}

.hero .form .btn {
  position: absolute;
  top: 2px;
  right: 4px;
  width: calc(var(--regular) - 4px);
  height: calc(var(--regular) - 4px);
  background: var(--blue-600);
  border-radius: var(--full);
}

.hero .form .btn .icon {
  width: calc(var(--small) - 8px);
  height: calc(var(--small) - 8px);
  color: var(--white-500);
}

.hero .form .field {
  padding: var(--s-small) var(--small);
  border-radius: var(--large);
}

.service .content {
  width: var(--full);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service .content .list {
  display: flex;
  align-items: center;
  gap: var(--s-small);
}

:is(.service .content .list) {
  color: var(--blue-700);
}

:is(.service .content .list .icon) {
  width: var(--medium);
  height: var(--medium);
  color: inherit;
}

:is(.best_sellers, .referances) {
  text-align: center;
}

.best_sellers .card {
  position: relative;
  margin: var(--medium) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.best_sellers .card .list .link .detail {
  padding: var(--small) 0;
  border-radius: var(--regular);
  background: var(--white-500);
}

.best_sellers .card .list.full {
  position: relative;
  background: var(--blue-500);
  border-radius: var(--regular);
  box-shadow: 0px 4px 30px #dddada40;
}

.best_sellers .card .list:hover .product {
  transform: translateY(-20%);
}

.best_sellers .product {
  width: 250px;
  height: 100%;
  transition: 0.5s;
}

.best_sellers .card .preview {
  margin: var(--s-small) 0;
  display: flex;
  justify-content: center;
  gap: var(--small);
}

.best_sellers .card .preview .list {
  display: flex;
  gap: var(--s-small);
  align-items: center;
}

.best_sellers .card .preview .list .label {
  font-size: var(--label);
}

:is(.referances) .card .list {
  position: relative;
}

.referances .detail .title {
  font-size: var(--medium);
}

.referances .detail .subtitle {
  font-size: var(--small);
}

.referances .card {
  margin: var(--medium) 0;
  display: grid;
  width: var(--full);
  grid-template-areas: repeat(2, 1fr);
  gap: var(--small);
}

.referances .card .list {
  grid-area: var(--grid-area);
  width: var(--full);
  border-radius: var(--small);
  overflow: hidden;
}

.referances .card .list .title {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: var(--full);
  height: var(--full);
  background: rgba(34, 34, 34, 0.75);
  color: var(--white-500);
  font-size: var(--small);
  transition: 0.3s;
  opacity: 0;
}

.referances .card .list:hover .title {
  opacity: 1;
}
